/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Intro Section */
#intro {
    background-color: #89f7e4;
    color: black;
    text-align: center;
    padding: 150px 0;
}

#intro .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
    margin-bottom: 20px;
}

#intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#intro .btn {
    padding: 15px 30px;
    background-color: #e998c7;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
}

#intro .btn:hover {
    background-color: #f07acc;
}

/* Section Styles */
.section {
    padding: 50px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

#about p {
    font-size: 1.1em;
    text-align: center;
}

/* Button Styles for Navigation */
.nav-buttons {
    text-align: center;
    margin: 30px 0;
}

.nav-buttons a {
    padding: 15px 30px;
    margin: 10px;
    background-color: #f578e4;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    background-color: #555;
}

/* Social Links */
.social-links {
    text-align: center;
    margin-top: 50px;
}

.social-links a {
    margin: 0 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}
/* Skills Section */
#skills {
    text-align: center;
}

#skills .skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skills .skill-item {
    font-size: 1.2em;
    margin: 15px 0;
}



/* Contact Section */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

form input,
form textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.1em;
}

form button {
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    #skills .skills-grid {
        flex-direction: column;
    }

    .project-item {
        width: 100%;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }
}
